<div class="container mt-5" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4"><strong>Online Bus Booking</strong></h1>
        <p class="lead">Find Volvo Buses between cities in Kerela, India</p>
        <hr class="my-4">
        <br><br><br>
        <% if !logged_in? %>
            <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
        <% end %>
    </div>
</div>