<div class="container mt-5" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Online Bus Booking</h1>
        <p class="lead">Find state-run buses, Volvo coaches, etc. between cities in India</p>
        <hr class="my-4">
        <br><br><br>
        <%= link_to "Book Now", new_reservation_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
