<nav class="navbar navbar-expand-lg navbar-light bg-light">    
  <%= link_to 'Bus Ticket', root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>        
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bus
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Book Ticket', new_reservation_path, class:"dropdown-item" %>
          <%= link_to 'Booking History', reservations_path, class:"dropdown-item" %>
        </div>
      </li>
    </ul>
    
  </div>
</nav>